.addition-fieldset__wrapper {
  min-width: $mobile-width;
  max-width: $tablet-width;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    max-width: $desktop-width;
    width: 100%;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding: 0 110px;
  }
}

.addition-fieldset__title {
  max-width: 165px;
}

.addition-fieldset__list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 532px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
  }
}

.addition-fieldset__item {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    min-width: 221px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.addition-fieldset__label {
  color: $default-black-color;
}
