.addition-goods {
  padding-bottom: 86px;
}

.addition-goods__wrapper {
  min-width: $mobile-width;
  max-width: $tablet-width;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    max-width: $desktop-width;
    width: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding: 0 110px;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
  }
}

.addition-goods__title {
  position: relative;
  font-size: 24px;
  line-height: 1;
  color: $default-black-color;
  font-weight: 400;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
  }
}
