.address__wrapper {
  min-width: $mobile-width;
  max-width: $tablet-width;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    max-width: $desktop-width;
    width: 100%;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding: 0 110px;
  }
}

.address__block {
  display: flex;
  justify-content: space-between;
  padding: 28px 0 28px 0;

  @media (min-width: $desktop-width) {
    justify-content: space-around;
    min-width: 570px;
    min-height: 201px;
    position: absolute;
    z-index: 1;
    margin-top: 95px;
    background-color: white;
    padding: 66px 0 52px 0;
  }
}

.address__block-text {
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: $default-black-color;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.05;
  }
}

.address-text {
  line-height: 1.43;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.25;
    min-width: 160px;
  }
}
