.address__wrapper {
  min-width: $mobile-width;
  max-width: $tablet-width;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    max-width: $desktop-width;
    width: 100%;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding: 0 110px;
  }
}

.address__block {
  display: flex;
  justify-content: space-between;
  padding: 28px 0;

  @media (min-width: $tablet-width) {
    padding: 70px 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-around;
    min-width: 570px;
    min-height: 201px;
    position: absolute;
    z-index: 1;
    margin-top: 95px;
    background-color: white;
    padding: 66px 0 52px 0;
  }
}

.address__block-text {
  font-size: 16px;
  line-height: 1.29;
  text-transform: uppercase;
  color: $default-black-color;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.05;
  }

  @media (min-width: $desktop-width) {
    line-height: 1.2;
    padding-left: 10px;
  }
}

.address-text {
  line-height: 1.43;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.25;
    min-width: 160px;
    transform: translateY(-6px);
  }

  @media (min-width: $desktop-width) {
    transform: translate(-17px, -3px);
  }
}

.address-text-street {
  @media (min-width: $tablet-width) {
    padding-left: 66px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.address-text-town {
  @media (min-width: $tablet-width) {
    display: block;
    transform: translate(33px, 19px);
  }

  @media (min-width: $desktop-width) {
    transform: translate(0, 19px);
  }
}

.address--gray {
  background-color: $default-gray-color;
}
