.adress__wrapper {
  width: $mobile-width;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding: 0 110px;
  }
}

.adress__block {
  display: flex;
  padding: 28px 0 28px 0;
}

.adress__block-text {
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: $default-black-color;
  max-width: 140px;
}
