.address__map-img {
  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.address__map {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 180px;
    left: 51%;
    width: 57px;
    height: 53px;
    margin-left: -31px;
    background-image: url("../../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    z-index: 1;

    @media (min-width: $tablet-width) {
      width: 113px;
      height: 106px;
      left: 47%;
    }
  }
}

.map {
  position: absolute;
  border: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
