.advantages {
  margin-top: 27px;
}

.advantages__wrapper {
  min-width: $mobile-width;
  max-width: $tablet-width;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    max-width: $desktop-width;
    width: 100%;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding: 0 110px;
  }
}

.advantages__list {
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.advantages__item {
  position: relative;
  min-width: 250px;

  @media (min-width: $tablet-width) {
    width: 230px;
    height: 280px;
    margin-right: 104px;

    &::after {
      position: absolute;
      counter-increment: section;
      content: "" counter(section);
      font-size: 280px;
      line-height: 1;
      bottom: 0;
      right: 20px;
      color: $default-gray-color;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 73px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: $default-green-color;
    background-repeat: no-repeat;
    background-image: url("../../img/icon/advantages-1.svg");
    background-position: 50% 50%;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      top: 40px;
    }
  }

  &:nth-child(2)::before {
    background-image: url("../../img/icon/advantages-2.svg");
  }

  &:nth-last-child(2)::before {
    background-image: url("../../img/icon/advantages-3.svg");
  }

  &:last-child::before {
    background-image: url("../../img/icon/advantages-4.svg");
  }
}

.advantages__item:nth-of-type(4n) {
  margin-right: 0;
}

.advantages__item:not(:last-child) {
  margin-bottom: 25px;
}

.advantages__text {
  max-width: 199px;
  margin-left: 80px;

  @media (min-width: $tablet-width) {
    margin-top: 151px;
    margin-left: 0;
    font-size: 16px;
    line-height: 1.5;
    max-width: 245px;
  }
}
