.calculations__description {
  max-width: 280px;
  margin-bottom: 25px;
}

.calculation__stats {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
  }
}

.calculation__stats-list {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    max-width: 366px;
  }
}

.calculations__stats-list-block {
  position: relative;
  min-width: 124px;

  @media (min-width: $tablet-width) {
    min-width: 162px;
  }
}

.calculations__number {
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  color: $default-black-color;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid $border-color;
  border-radius: 3px;
  text-align: center;
}

.calculations__text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1;
  max-width: 115px;
  padding: 0;
  text-align: center;
  background-color: $dark-gray-color;
}

.calculation__food-costs {
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    max-width: 107px;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    min-width: 327px;
  }
}

.calculations__food-costs-text {
  line-height: 1.43;
  text-transform: uppercase;
  color: $default-black-color;
  width: 100%;
}
