.calculations__description {
  max-width: 700px;
  margin-bottom: 25px;
  line-height: 1.29;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 1.5;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.calculations__stats {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
  }
}

.calculations__stats-list {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  padding-top: 3px;

  @media (min-width: $tablet-width) {
    min-width: 366px;
  }
}

.calculations__stats-list-block {
  position: relative;
  min-width: 124px;

  @media (min-width: $tablet-width) {
    min-width: 162px;
  }

  @media (min-width: $desktop-width) {
    min-width: 162px;
    margin-bottom: 59px;
  }
}

.calculations__number {
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  color: $default-black-color;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid $border-color;
  border-radius: 3px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 1.23;
    padding-top: 11px;
    padding-bottom: 19px;
  }
}

.calculations__text {
  position: absolute;
  left: 20px;
  bottom: -14px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1;
  max-width: 82px;
  padding: 0;
  text-align: center;
  background-color: $dark-gray-color;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 1;
    left: 11%;
    bottom: -5px;
    max-width: 127px;
    background-color: $default-white-color;
  }

  @media (min-width: $desktop-width) {
    background-color: $default-gray-color;
  }
}

.text--first {
  @media (min-width: $tablet-width) {
    left: 20%;
  }
}

.calculations__food-costs {
  padding-top: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 175px;
    align-items: flex-end;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 327px;
    padding-right: 153px;
  }
}

.calculations__food-costs-text {
  line-height: 1.43;
  text-transform: uppercase;
  color: $default-black-color;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.food-cost-number {
  @media (min-width: $tablet-width) {
    display: block;
    padding-left: 85px;
    padding-top: 9px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 50px;
    transform: translate(170px, -28px);
  }
}
