.cat-data {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    min-width: 569px;
  }
}

.cat-data__item {
  display: flex;
  align-items: center;
  width: 100%;
}

.cat-data__item:not(:last-child) {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 16px;
  }
}

.cat-data__input {
  width: 100%;
  margin-left: 10px;
  border: 1px solid $nav-line-color;

  &:hover {
    border-color: $border-color;
  }

  &:focus {
    outline: 2px solid $default-text-color;
  }

  &:invalid:not(:focus):not(:placeholder-shown) {
    outline: 2px solid $default-pink-color;
  }

  @media (min-width: $tablet-width) {
    margin-left: 16px;
  }
}
