.comment-fieldset__wrapper {
  width: $mobile-width;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding: 0 110px;
  }
}

.comment-fieldset__textarea {
  width: 100%;
}
