.comment-fieldset {
  @media (min-width: $tablet-width) {
    margin-top: 55px;
  }
}

.comment-fieldset__wrapper {
  min-width: $mobile-width;
  max-width: $tablet-width;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    max-width: $desktop-width;
    width: 100%;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding: 0 110px;
  }
}

.comment-fieldset__title {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }
}

.comment-fieldset__textarea {
  width: 100%;
  border: 1px solid $nav-line-color;
  padding-top: 9px;
  padding-right: 5px;

  &:hover {
    border-color: $border-color;
  }

  &:focus {
    outline: 2px solid $default-text-color;
  }

  @media (min-width: $tablet-width) {
    max-height: 175px;
  }
}
