.contacts-fieldset__wrapper {
  min-width: $mobile-width;
  max-width: $tablet-width;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  transform: translateY(8px);

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    max-width: $desktop-width;
    width: 100%;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding: 0 110px;
  }
}

.contacts-fieldset__list {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.contacts-fieldset__title {
  max-width: 228px;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    max-width: none;
    line-height: 1;
    margin-bottom: 64px;
  }
}

.contact-legend {
  padding-right: 20px;
}

.contacts-fieldset__item {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    min-width: 569px;
  }
}

.contacts-fieldset__input {
  width: 100%;
  margin-left: 6px;
  border: 1px solid $nav-line-color;

  &:hover {
    border-color: $border-color;
  }

  &:focus {
    outline: 2px solid $default-text-color;
  }

  &:invalid {
    border: 2px solid $default-pink-color;
  }

  @media (min-width: $tablet-width) {
    margin-left: 18px;
  }
}

.contacts-fieldset__input:focus + .contacts-fieldset__item-icon {
  fill: $default-green-color;
}

.contacts-fieldset__input:invalid + .contacts-fieldset__item-icon {
  fill: $default-pink-color;
}

.icon-mail {
  stroke: $special-dark-gray;
}

.contacts-fieldset__input:focus + .icon-mail {
  stroke: $default-green-color;
}

.contacts-fieldset__input:invalid + .icon-mail {
  stroke: $default-pink-color;
}

.contacts-fieldset__item-icon {
  position: absolute;
  right: 15px;

  @media (min-width: $tablet-width) {
    right: 20px;
  }
}
