.contacts-fieldset__wrapper {
  min-width: $mobile-width;
  max-width: $tablet-width;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    max-width: $desktop-width;
    width: 100%;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding: 0 110px;
  }
}

.contacts-fieldset__list {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.contacts-fieldset__title {
  max-width: 215px;

  @media (min-width: $tablet-width) {
    max-width: 565px;
  }
}

.contacts-fieldset__item {
  margin-bottom: 15px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 569px;
  }
}

.contacts-fieldset__input {
  width: 100%;
  margin-left: 12px;

  @media (min-width: $tablet-width) {
    margin-left: 18px;
  }
}
