.contacts-fieldset__wrapper {
  width: $mobile-width;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding: 0 110px;
  }
}

.contacts-fieldset__list {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.contacts-fieldset__title {
  max-width: 276px;
}

.contacts-fieldset__item {
  margin-bottom: 15px;
}
