.example {
  background-color: $dark-gray-color;
  margin-top: 42px;

  @media (min-width: $tablet-width) {
    background-color: $default-white-color;
    background-image: linear-gradient(to bottom, transparent 0, transparent 484px, #f2f2f2 77px, #f2f2f2 100%);
  }

  @media (min-width: $desktop-width) {
    background-color: $default-gray-color;
  }
}

.example__wrapper {
  min-width: $mobile-width;
  max-width: $tablet-width;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    max-width: $desktop-width;
    width: 100%;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding: 0 110px;
  }
}

.example__title {
  padding: 27px 0 33px 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 63px;
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
  }
}

.example__calculations {
  @media (min-width: $desktop-width) {
    max-width: 436px;
  }
}

.example__results {
  padding-bottom: 33px;

  @media (min-width: $desktop-width) {
    margin-right: 320px;
  }
}

.example__img {
  display: block;
  margin: 42px auto 31px auto;

  @media (min-width: $tablet-width) {
    margin-top: 60px;
  }
}

.example__slider {
  max-width: 228px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
}

.example__results-was {
  border: none;
  outline: none;
}

.example__results-bar {
  position: relative;
  width: 84px;
  height: 14px;
  border-radius: 6px;
  background-color: $default-white-color;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    min-width: 428px;
    background-color: $border-color;
    height: 6px;
    margin-left: 14px;
    margin-right: 14px;
  }
}

.example__results-toggle {
  position: relative;
  border: none;
  outline: none;
  display: block;
  width: 35px;
  height: 6px;
  border-radius: 6px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: $default-green-color;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    height: 35px;
    background-color: $default-white-color;
    border-radius: 50%;
    left: 45%;
    border: 1px solid $border-color;

    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      top: 40%;
      left: 40%;
      background-color: $default-green-color;
      border-radius: 50%;
    }
  }
}

.example__results-became {
  border: none;
  outline: none;
}

.example__buttons {
  font-family: "Oswald", "Arial", sans-serif;
  border-bottom: 1px dotted $text-button-color;
  padding-left: 9px;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $default-black-color;
  cursor: pointer;
  background-color: $dark-gray-color;

  &:hover {
    border-bottom: 1px solid $border-hover;
  }

  &:active,
  &:focus {
    border: none;
  }
}
