.example {
  background-color: $dark-gray-color;
  margin-top: 42px;
}

.example__title {
  padding: 27px 0 33px 0;
}

.example__result {
  padding-bottom: 25px;
}

.example__results-was {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $default-black-color;
}

.example__results-became {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $default-black-color;
}
