.example {
  background-color: $dark-gray-color;
  margin-top: 42px;

  @media (min-width: $tablet-width) {
    background-color: $default-white-color;
    background-image: linear-gradient(to bottom,transparent 0,transparent 484px,#f2f2f2 77px,#f2f2f2 100%);
  }

  @media (min-width: $desktop-width) {
    background-color: $default-gray-color;
  }
}

.example__wrapper {
  min-width: $mobile-width;
  max-width: $tablet-width;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    max-width: $desktop-width;
    width: 100%;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding: 0 110px;
  }
}

.example__title {
  padding: 27px 0 33px 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 63px;
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.example__calculations {
  @media (min-width: $desktop-width) {
    max-width: 436px;
  }
}

.example__results {
  padding-bottom: 25px;

  @media (min-width: $desktop-width) {
    margin-right: 320px;
  }
}

.example__img {
  display: block;
  margin: 42px auto 23px auto;

  @media (min-width: $tablet-width) {
    margin-top: 60px;
  }
}

.example__slider {
  max-width: 228px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.example__results-was {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $default-black-color;
}

.example__results-bar {
  display: block;
  width: 84px;
  height: 14px;
  border-radius: 6px;
  background-color: $default-white-color;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    position: relative;
    min-width: 428px;
    background-color: transparent;

  }
}

.example__results-range {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
    height: 6px;
    background-color: $border-color;
    appearance: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 14px;
    margin-right: 14px;
  }
}

.example__results-range[type="range"]::-webkit-slider-thumb {
  @media (min-width: $tablet-width) {
    -webkit-appearance: none;
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $default-white-color;
    background-image: url("../../img/icon/slider.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 9;
    position: relative;
    transition: 0.5s all ease;
  }
}

.example__results-toggle {
  display: block;
  width: 35px;
  height: 6px;
  border-radius: 6px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: $default-green-color;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.example__results-became {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $default-black-color;
}
