.example {
  background-color: $dark-gray-color;
  margin-top: 42px;
}

.example__title {
  padding: 27px 0 33px 0;
}

.example__result {
  padding-bottom: 25px;
}

.example__results-was {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $default-black-color;
}

.example__results-became {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $default-black-color;
}

.calculations__weight-loss {
  position: relative;
  width: 124px;
}

.calculations__number {
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  color: $default-black-color;
  padding: 14px 0 14px 0;
  border: 1px solid $border-color;
  border-radius: 3px;
  text-align: center;
}

.calculations__text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1;
  max-width: 115px;
  padding: 0;
  text-align: center;
  background-color: $dark-gray-color;
}

.calculations__time-spent {
  position: relative;
  max-width: 124px;
}

.calculations__description {
  max-width: 280px;
  margin-bottom: 25px;
}

.calculations__stast-list {
  display: flex;
  justify-content: space-between;
  max-width: 280px;
}

.calculations__food-costs-text {
  line-height: 1.43;
  text-transform: uppercase;
  color: $default-black-color;
  margin-top: 25px;
}
