.example {
  background-color: $dark-gray-color;
  margin-top: 42px;
		&__wrapper {
		}

		&__title {
      padding: 27px 0 33px 0;
		}

		&__calculations {
		}

		&__result {
      padding-bottom: 25px;
		}

		&__results-was {
      font-size: 16px;
      line-height: 1.25;
      text-transform: uppercase;
      color: $default-black-color;
		}

		&__results-bar {
		}

		&__results-toggle {
		}

		&__results-became {
      font-size: 16px;
      line-height: 1.25;
      text-transform: uppercase;
      color: $default-black-color;
		}
}

.calculations {

		&__weight-loss {
		}

		&__number {
      font-size: 24px;
      line-height: 1;
      text-transform: uppercase;
      color: $default-black-color;
      padding: 14px 0 14px 0;
		}

		&__text {
      font-family: "Arial", sans-serif;
      font-size: 12px;
      line-height: 1;
		}

		&__time-spent {
		}
}
.calculation {

		&__description {
      width: 280px;
      margin-bottom: 25px;
		}

		&__food-costs {
		}

		&__food-costs-text {
      line-height: 1.43;
      text-transform: uppercase;
      color: $default-black-color;
      margin-top: 25px;
		}
}
