.field-box__wrapper {
  min-width: $mobile-width;
  max-width: $tablet-width;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    max-width: $desktop-width;
    width: 100%;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
  }
}

.field-box__fieldset {
  margin-top: 23px;
}
