.goods {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.goods__item {
  border-top: 1px solid $goods-border-color;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    min-width: 324px;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
  }
}

.goods__item-title {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: uppercase;
  color: $special-dark-gray;
  margin-bottom: 18px;
}

.goods__item-table {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
}

.goods__item-button {
  margin-top: 22px;
}
