.goods {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.goods__item {
  border-top: 1px solid $goods-border-color;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    min-height: 511px;
    margin-right: 60px;
    border: none;
    padding: 0 36px 40px 36px;
    background-image: linear-gradient(
      to bottom,
      transparent 0,
      transparent 77px,
      $default-gray-color 77px,
      $default-gray-color 100%
    );
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 324px;
  }
}

.goods__item:nth-of-type(2n) {
  margin-right: 0;

  @media (min-width: $desktop-width) {
    margin-right: 60px;
  }
}

.goods__item:nth-of-type(4n) {
  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.goods__item-wrapper {
  min-width: 252px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 168px;
  }
}

.goods__item-img {
  margin-left: auto;
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.goods__item-info {
  margin-left: auto;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.goods__item-title {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: uppercase;
  color: $special-dark-gray;
  margin-bottom: 18px;
  max-width: 76px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.2;
    max-width: 155px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.goods__item-table {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1;
    min-width: 252px;
  }
}

.table-cell {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $border-color;
    padding-bottom: 9px;
    padding-top: 7px;
  }
}

.goods-table__table-description-value {
  text-align: end;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.goods__item-button {
  margin-top: 22px;
  max-width: 768px;
  width: 100%;
  min-height: 40px;
}
