.goods {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.goods__item {
  border-bottom: 1px solid $goods-border-color;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to bottom, transparent 0, transparent 77px, $default-gray-color 77px, $default-gray-color 100%);
    padding-bottom: 40px;
    padding-left: 38px;
    padding-right: 37px;
    margin-left: 0;
    margin-right: 0;
    width: 45.75%;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 80px;
    background-image: linear-gradient(to bottom, transparent 0, transparent 75px, $default-gray-color 75px, $default-gray-color 100%);
    width: 20.08%;
    margin-bottom: 67px;
  }
}

.goods__item:nth-child(odd) {
  @media (min-width: $tablet-width) {
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 80px;
  }
}

.goods__item:nth-of-type(4n) {
  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.good {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.good--last {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.goods__item-wrapper {
  display: flex;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 9px;
  }
}

.goods__item-img {
  position: relative;
  width: 265px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 208px;
  }
}

.goods__img {
  position: absolute;
  left: 26%;
  top: 39%;

  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
    top: 14%;
    left: 18%;
  }

  @media (min-width: $desktop-width) {
    left: 10%;
    top: 12%;
  }
}

.goods__img--first {
  top: 27%;

  @media (min-width: $tablet-width) {
    top: 31px;
  }

  @media (min-width: $desktop-width) {
    top: 11%;
    left: 12%;
  }
}

.goods__img-big {
  top: 24%;
  left: 22%;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 207px;
    top: 2%;
    left: 16%;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 200px;
    top: -2%;
    left: 9%;
  }
}

.goods__item-info {
  width: 100%;
  transform: translate(4px, 4px);

  @media (min-width: $tablet-width) {
    margin-left: 0;
    padding-top: 10px;
    transform: translate(0, 0);
  }

  @media (min-width: $desktop-width) {
    padding-left: 18px;
    padding-right: 17px;
  }
}

.goods__item-title {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: uppercase;
  color: $special-dark-gray;
  margin-bottom: 14px;
  max-width: 76px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.2;
    max-width: 155px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    margin-top: 18px;
    margin-bottom: 18px;
  }
}

.goods__item-table {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  width: 100%;
  border-spacing: 0;
  transform: translate(-1px, -2px);

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1;
  }
}

.table-cell {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $border-color;
    padding-bottom: 9px;
    padding-top: 7px;

    @media (min-width: $desktop-width) {
      padding-bottom: 7px;
    }
  }
}

.goods-table__table-description-value {
  text-align: end;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.goods__item-button {
  margin-top: 22px;
  width: 100%;
  min-height: 40px;
  transition: $default-transition-settings;
  font-size: 16px;
  line-height: 1.25;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-top: 26px;
    max-width: 168px;
    margin-left: 19px;
  }

  &:hover {
    background-color: $green-hover-color;
  }

  &:active {
    color: $text-active-color;
  }
}
