.main-nav {
  position: relative;
  width: auto;
  margin-left: auto;
}

.main-nav__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 440px;
  }

  @media (min-width: $desktop-width) {
    min-width: 478px;
  }
}

@media (max-width: $tablet-width - 1) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -28px;
  right: 16px;
  z-index: 2;
  display: block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: $default-white-color;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  top: -0;
  left: -3px;
  background-color: $default-black-color;
  box-shadow: 0 8px 0 0 $default-black-color, 0 16px 0 0 $default-black-color;
}

.main-nav--opened {
  margin-bottom: -20px;
  margin-top: 20px;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    top: -12px;
    left: 0;
    background-color: $default-black-color;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  display: block;
  position: static;
  min-height: 0;
}

.main-nav--nojs .main-nav__list-item {
  display: block;
}

.main-nav__list-item {
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 22px;
  border-top: 1px solid $nav-line-color;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 1.33;
    font-weight: 400;
    border: none;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.main-nav__list-item:not(:last-child) {
  @media (min-width: $tablet-width) {
    margin-right: 35px;
  }
}

.main-nav__list-item:last-child {
  padding-bottom: 24px;
  border-bottom: 1px solid $nav-line-color;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
