.options {
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 23px 20px 22px 29px;
  }

  @media (min-width: $desktop-width) {
    min-width: 569px;
    padding: 31px 23px 22px 28px;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid $default-gray-color;
    border-left: none;
    border-right: none;

    @media (min-width: $tablet-width) {
      border-left: 1px solid $default-gray-color;
      border-right: 1px solid $default-gray-color;
    }
  }
}

.options__item:not(:last-child) {
  margin-bottom: 10px;
}

.options__label {
  color: $default-black-color;
}
