.page-footer {
  background-color: $default-gray-color;
}

.page-footer__logo {
  padding: 40px 0 30px 0;
}

.page-footer__social {
  display: flex;
  border-top: 1px solid $line-color;
  border-bottom: 1px solid $line-color;
  padding: 20px 0 20px 0;
}

.page-footer__copyright {
  padding: 22px 0 22px 0;
}

.page-footer__copyright-text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.12;
  text-transform: none;
  color: $default-text-color;
}
