.page-header {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 31px;
    border-bottom: none;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 40px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.page-header__logo-block {
  padding: 10px 54px 10px 20px;

  @media (min-width: $tablet-width) {
    max-width: 175px;
    flex-shrink: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: 573px;
  }
}

.page-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 190px;
  transition: $default-transition-settings;

  @media (min-width: $tablet-width) {
    min-width: 175px;
    align-self: flex-start;
    margin-right: 25px;
    padding-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    min-width: 202px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo-img {
  transform: translate(-1px, -4px);

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 51px;
    transform: translate(1px, 3px);
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 60px;
  }
}
