.page-header {
  padding-top: 20px;
}

.page-header__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    min-width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    padding: 0 110px;
    justify-content: space-between;
  }
}

.page-header__logo {
  display: flex;
}
