.page-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-header__wrapper {
  min-width: $mobile-width;
  max-width: $tablet-width;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    min-width: $tablet-width;
    max-width: $desktop-width;
    width: 100%;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding: 0 110px;
    justify-content: space-between;
  }
}

.page-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 190px;

  @media (min-width: $tablet-width) {
    min-width: 175px;
    align-self: flex-start;
    margin-right: 25px;
  }

  @media (min-width: $desktop-width) {
    min-width: 202px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
