.page-footer {
  background-color: $default-gray-color;
  padding-top: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.page-footer__wrapper {
  min-width: $mobile-width;
  max-width: $tablet-width;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    max-width: $desktop-width;
    width: 100%;
    padding: 68px 30px 61px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding: 72px 110px 58px 110px;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
  border-bottom: 1px solid $line-color;

  @media (min-width: $tablet-width) {
    border: none;
    padding-bottom: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 18px 0;
  max-width: 130px;
  align-items: center;

  @media (min-width: $tablet-width) {
    min-width: 130px;
  }
}

.page-footer__social-link {
  &:active {
    opacity: 0.3;
  }
}

.page-footer__social-icon {
  &:hover {
    fill: $default-green-color;
  }
}

.vkontakte-icon {
  @media (min-width: $tablet-width) {
    width: 35px;
    height: 35px;
  }
}

.instagram-icon {
  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.facebook-icon {
  @media (min-width: $tablet-width) {
    width: 28px;
    height: 33px;
  }

  &:hover {
    stroke: $default-green-color;
  }
}

.page-footer__copyright {
  padding: 20px 0;
  border-top: 1px solid $line-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-footer__copyright-text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.12;
  text-transform: none;
  color: $default-text-color;

  @media (min-width: $tablet-width) {
    transform: translateX(-23px);
  }
}
