.present {
  text-align: center;
  padding-top: 59px;
  padding-bottom: 41px;
  margin-top: 42px;
  background-image: url("../../img/gift-photo-mobile-1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $default-green-color;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/gift-photo-mobile-1@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 121px 56px 79px;
    margin-top: 69px;
    background-image: url("../../img/gift-photo-tablet-1.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gift-photo-tablet-1@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    min-width: 245px;
    padding: 65px 10px 46px;
    margin-top: 0;
    background-image: url("../../img/gift-photo-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gift-photo-desktop-1@2x.jpg");
    }
  }
}

.present__img {
  @media (min-width: $tablet-width) {
    transform: translateY(-6px);
  }
}

.present__text {
  color: $default-white-color;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  max-width: 165px;
  margin: 46px auto 0;

  @media (min-width: $tablet-width) {
    text-align: left;
    width: 175px;
    margin: -4px 0 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-right: -12px;
  }
}
