.present {
  background-color: $default-green-color;
  min-width: 245px;
}

.present__text {
  color: $default-white-color;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  max-width: 161px;
}
