.products {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }

  @media (min-width: $desktop-width) {
    min-width: 896px;
    border: none;
    margin-right: 80px;
  }
}

.products__item {
  padding-top: 12px;
  padding-bottom: 19px;
  border-bottom: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 26px 38px 28px 38px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 15px 0;
    max-height: 72px;
  }
}

.products__item:first-child {
  border-top: 1px solid $border-color;
}

.products__item-title {
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: $super-special-dark-gray;
  font-weight: 400;

  @media (min-width: $desktop-width) {
    min-width: 161px;
    font-size: 20px;
  }
}

.products__item-table {
  font-family: "Arial", sans-serif;
  line-height: 1;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 40%;
    font-size: 16px;
    line-height: 1.25;
  }

  @media (min-width: $desktop-width) {
    min-width: 288px;
  }
}

.product-table__row-description:last-of-type {
  text-align: end;
}

.products__item-button {
  margin-top: 15px;
  width: 100%;
  transition: $default-transition-settings;

  @media (min-width: $tablet-width) {
    line-height: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;
    margin-top: 0;
  }

  &:hover {
    background-color: $green-hover-color;
  }

  &:active {
    color: $text-active-color;
  }
}
