.products__item {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.products__item-title {
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: $super-special-dark-gray;
  font-weight: 400;
}

.products__item-table {
  font-family: "Arial", sans-serif;
  line-height: 1;
}

.products__item-button {
  margin-top: 15px;
}
