.profile {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }
}

.profile__form {
  margin-top: 39px;

  @media (min-width: $tablet-width) {
    margin-top: 62px;
  }
}
