.programm {
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.programm__wrapper {
  min-width: $mobile-width;
  max-width: $tablet-width;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    max-width: $desktop-width;
    width: 100%;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    min-width: $desktop-width;
    padding: 0 110px;
  }
}

.programm__weight {
  display: flex;
  flex-direction: column;
  background-color: $default-gray-color;
  min-width: 280px;
  min-height: 266px;
  padding: 32px 21px 11px 20px;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    min-height: 372px;
    padding: 77px 53px 47px 53px;
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;
    min-height: 374px;
  }
}

.programm__weight:first-child {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-right: 80px;
  }
}

.programm__title {
  position: relative;
  font-size: 24px;
  line-height: 1.37;
  color: $default-black-color;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 28px;
  padding-left: 70px;
  padding-right: 5px;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
    padding-left: 0;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin-bottom: 67px;
  }

  &::before {
    position: absolute;
    content: "";
    top: -8px;
    left: 2px;
    width: 50px;
    height: 50px;
    background-color: $default-green-color;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      top: 14px;
      left: unset;
      right: 8px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      top: -32px;
      left: 0;
    }
  }

  &--slim::after {
    position: absolute;
    content: "";
    top: -11px;
    left: 9px;
    width: 36px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url("../../img/icon/cat-1-mob.svg");

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 192px;
      top: 3px;
      left: unset;
      right: 39px;
      background-image: url("../../img/icon/cat-1-tab.svg");
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      top: -38px;
      left: 16px;
      background-image: url("../../img/icon/cat-1-des.svg");
    }
  }

  &--gain::after {
    position: absolute;
    content: "";
    top: 2px;
    left: -7px;
    width: 67px;
    height: 28px;
    background-repeat: no-repeat;
    background-image: url("../../img/icon/cat-2-mob.svg");

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
      top: 58px;
      left: unset;
      right: -25px;
      background-image: url("../../img/icon/cat-2-tab.svg");
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
      top: -12px;
      left: -18px;
      background-image: url("../../img/icon/cat-2-des.svg");
    }
  }
}

.programm__description {
  position: relative;

  width: 100%;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    color: $default-black-color;
    max-width: 375px;
  }

  @media (min-width: $desktop-width) {
    min-width: 467px;
    margin-bottom: 30px;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: -22px;
    left: 0;
    min-width: 240px;
    max-width: $tablet-width;
    width: 100%;
    height: 1px;
    background-color: $line-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.programm__button {
  position: relative;
  font-size: 16px;
  line-height: 1;
  margin-top: auto;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  max-width: 132px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    max-width: 165px;
  }

  &::after {
    position: absolute;
    content: "";
    left: 100px;
    width: 32px;
    height: 12px;
    background-repeat: no-repeat;
    background-image: url("../../img/icon/arrow.svg");
    transition: $default-transition-settings;

    @media (min-width: $tablet-width) {
      left: 131px;
    }
  }

  &:active {
    opacity: 0.3;
  }

  &:hover::after {
    background-image: url("../../img/icon/arrow-big.svg");
  }
}
