.programm {
  margin-top: 22px;
  &__wrapper {
  }

  &__weight-loss {
    background-color: $default-gray-color;
  }

  &__title {
    font-size: 24px;
    line-height: 1.37;
    color: $default-black-color;
    text-transform: uppercase;
    font-weight: 400;
    padding: 35px 0 30px 0;
  }

  &__description {
    width: 227px;
    margin-bottom: 36px;
  }

  &__weight-gain {
    background-color: $default-gray-color;
  }

  &__button {
    font-size: 16px;
    line-height: 1;
  }
}
