.programm {
  margin-top: 22px;
}

.programm__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    min-width: 1220px;
    padding: 0 110px;
  }
}

.programm__weight {
  background-color: $default-gray-color;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 708px;
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;
  }
}

.programm__weight:first-child {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-right: 80px;
  }
}

.programm__title {
  font-size: 24px;
  line-height: 1.37;
  color: $default-black-color;
  text-transform: uppercase;
  font-weight: 400;
  padding: 35px 0 30px 0;
}

.programm__description {
  max-width: 227px;
  margin-bottom: 36px;
}

.programm__button {
  font-size: 16px;
  line-height: 1;
}
