.service {
  background-color: $default-green-color;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    background-color: $default-white-color;
    padding-top: 62px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 111px;
  }
}

.service__wrapper {
  min-width: $mobile-width;
  max-width: $tablet-width;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    max-width: $desktop-width;
    width: 100%;
    padding: 0 30px;
    align-items: flex-start;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding: 0 110px;
  }
}

.service__title {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
  color: $default-white-color;
  padding: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
    color: $default-black-color;
  }

  @media (min-width: $desktop-width) {
    max-width: 414px;
  }
}

.service__text {
  line-height: 1;
  text-transform: uppercase;
  color: $default-white-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    color: $default-black-color;
  }
}

.service__button {
  margin-top: 50px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }

  &:hover {
    background-color: $green-hover-color;
  }

  &:active {
    color: $text-active-color;
  }
}
