.service {
  padding-top: 27px;
  position: relative;

  @media (min-width: $tablet-width) {
    position: relative;
    background-image: none;
    margin-bottom: 526px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 255px;
    background-position: 100% 0;
    background-size: 720px 694px;
    padding-bottom: 155px;
    margin-bottom: 82px;
  }
}

.service__wrapper {
  min-width: $mobile-width;
  max-width: $tablet-width;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    max-width: $desktop-width;
    width: 100%;
    padding: 0 30px 0 90px;
    align-items: flex-start;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding: 0 190px;
    flex-wrap: wrap;
    max-height: 439px;
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 305px;
    z-index: -1;
    background-image: url("../../img/index-background-mobile.jpg");
    box-shadow: 1000px 0 0 rgba(104, 183, 56, 0.85) inset;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/index-background-mobile@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/index-background-desktop.jpg");
      display: block;
      width: 720px;
      height: 694px;
      top: -256px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/index-background-desktop@2x.jpg");
      }
    }
  }
}

.service__title {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
  color: $default-white-color;
  padding: 0 0 25px 0;
  z-index: 3;
  max-width: 249px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
    color: $default-black-color;
    padding-bottom: 41px;
    max-width: 414px;
  }
}

.service__text {
  line-height: 1;
  text-transform: uppercase;
  color: $default-white-color;
  margin-bottom: 302px;
  z-index: 4;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    color: $default-black-color;
    margin-bottom: 49px;
  }
}

.service__picture {
  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.service__img {
  display: block;
  position: absolute;
  top: 35%;
  left: 6%;

  @media (min-width: $tablet-width) {
    top: 71%;
    left: 0%;
    width: 709px;
    height: 609px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    left: 39%;
    top: -30%;
    z-index: 8;
  }
}

.service__button {
  width: 100%;
  transition: $default-transition-settings;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
    max-width: 244px;
    padding: 15px 26px;
    min-height: 54px;
  }

  &:hover {
    background-color: $green-hover-color;
  }

  &:active {
    color: $text-active-color;
  }
}
