.service {
  background-color: $default-green-color;
  background-image: url("/source/img/index-background-mob.jpg");
  background-repeat: no-repeat;
}

.service__wrapper {
  width: $mobile-width;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding: 0 110px;
  }
}

.service__title {
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: $default-white-color;
  padding: 27px 0 25px 0;
  max-width: 249px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
  }
}

.service__text {
  line-height: 1;
  text-transform: uppercase;
  color: $default-white-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.service__button {
  margin-top: 50px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}
