.show-more__title {
  color: $super-special-dark-gray;
  margin-bottom: 10px;
}

.show-more__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
}

.show-more__button {
  margin-top: 21px;
  background-color: $default-gray-color;
  color: $default-text-color;
}
