.show-more {
  @media (min-width: $tablet-width) {
    background-image: none;
    border: 2px solid $default-gray-color;
    min-height: 429px;
  }
}

.show-more__title {
  position: relative;
  color: $super-special-dark-gray;

  @media (min-width: $tablet-width) {
    &::before,
    &::after {
      position: absolute;
      content: "";
      bottom: 112px;
      left: 46px;
      width: 60px;
      height: 2px;
      background-color: #d3d3d3;
    }

    &::after {
      transform: rotate(90deg);
    }
  }
}

.show-more__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.12;
    text-align: center;
    max-width: 167px;
    margin-top: 23px;
  }
}

.show-more__button {
  margin-top: 21px;
  background-color: $default-gray-color;
  color: $default-text-color;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-top: 87px;
  }
}
