.show-more {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 37px 40px;
    margin-top: 77px;
    border: 1px solid $border-color;
    width: 45.75%;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    width: 20.08%;
  }
}

.show-more__title {
  color: $super-special-dark-gray;
  margin-top: 20px;
  margin-bottom: 8px;
  max-width: none;

  @media (min-width: $tablet-width) {
    width: 160px;
    margin-top: 49px;
    margin-bottom: 25px;
  }
}

.show-more__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  margin-top: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.12;
    width: 190px;
    margin-bottom: 85px;
  }
}

.show-more__button {
  background-color: $default-gray-color;
  color: $default-text-color;
  width: 100%;
  min-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
