.submit {
  min-width: $mobile-width;
  max-width: $tablet-width;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    max-width: $desktop-width;
    width: 100%;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    padding: 0 110px;
  }
}

.submit__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 523px;
  }

  @media (min-width: $desktop-width) {
    max-width: 829px;
  }
}

.submit__button {
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 1.25;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 0;
    min-height: 52px;
    max-width: 282px;
  }

  @media (min-width: $desktop-width) {
    min-width: 568px;
  }
}

.submit__text {
  font-family: "Arial", sans-serif;
  color: $default-black-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1;
  }
}
