.title-profile {
  padding-top: 3px;

  @media (min-width: $tablet-width) {
    padding-top: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 141px;
  }
}

.title-profile__title {
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    padding-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 18px;
  }
}

.title-profile__text {
  line-height: 1.29;
  color: $default-black-color;
  max-width: 323px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}
