.title-profile {
  padding-top: 141px;
}

.title-profile__text {
  line-height: 1.29;
  color: $default-black-color;
  max-width: 323px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}
