.button {
  font-family: "Oswald", "Arial", sans-serif;
  background-color: $default-green-color;
  min-height: 40px;
  color: $default-white-color;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.29;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
