.field-box__fieldset {
  padding: 0;
  margin: 0;
}

.fieldset-legend {
  position: relative;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 1.08;
  color: $default-black-color;
  background-color: $default-white-color;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
  }
}
