.field-input {
  padding: 13px 16px 13px 16px;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  border: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }

  &::placeholder {
    color: $default-text-color;
  }

  &:active::placeholder {
    opacity: 0;
  }

  &:focus::placeholder {
    opacity: 0;
  }
}
