.legend {
  display: block;
  z-index: 1;
  background-color: $default-white-color;
  padding-right: 23px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.legend-add {
  margin-right: -19px;

  @media (min-width: $tablet-width) {
    margin-right: -157px;
  }

  @media (min-width: $desktop-width) {
    margin-right: -198px;
  }
}
