.page {
  height: 100%;
  box-sizing: border-box;
}

.page__body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: $default-text-color;
}
