// FONTS
@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
    local("Oswald Regular"),
    local("Oswald-Regular"),
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
    local("Oswald Medium"),
    local("Oswald-Medium"),
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// VISUALLY-HIDDEN

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

// PAGE

.page {
  height: 100%;
  box-sizing: border-box;
}

.page__body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: $default-text-color;
}

// BUTTON

.button {
  background-color: $default-green-color;
  width: 280px;
  color: $default-white-color;
  text-transform: uppercase;
}
