// LISTS

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

// BOX-SIZING

*,
*::before,
*::after {
  box-sizing: border-box;
}

// IMAGES

img {
  max-width: 100%;
}

// LINKS

a {
  text-decoration: none;
  color: $default-black-color;
}
