// GLOBAL

@import "variables.scss";
@import "global/fonts.scss";
@import "global/page.scss";
@import "global/visually-hidden.scss";
@import "global/button.scss";
@import "global/title.scss";
@import "global/text.scss";
@import "global/label.scss";
@import "global/fieldset-legend.scss";
@import "global/field-input.scss";
@import "global/wrapper.scss";
@import "reset.scss";

// BLOCKS

@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/service.scss";
@import "blocks/programm.scss";
@import "blocks/advantages.scss";
@import "blocks/example.scss";
@import "blocks/calculations.scss";
@import "blocks/address.scss";
@import "blocks/page-footer.scss";
@import "blocks/title-profile.scss";
@import "blocks/profile.scss";
@import "blocks/field-box.scss";
@import "blocks/options.scss";
@import "blocks/cat-data.scss";
@import "blocks/addition-fieldset.scss";
@import "blocks/comment-fieldset.scss";
@import "blocks/submit.scss";
@import "blocks/contacts-fieldset.scss";
@import "blocks/catalog.scss";
@import "blocks/goods.scss";
@import "blocks/goods-table.scss";
@import "blocks/products.scss";
@import "blocks/present.scss";
@import "blocks/show-more.scss";
@import "blocks/addition-goods.scss";
