// GLOBAL

@import "variables.scss";
@import "global.scss";
@import "reset.scss";
@import "mixins.scss";

// BLOCKS

@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/service.scss";
