// GLOBAL

@import "variables.scss";
@import "global/fonts.scss";
@import "global/page.scss";
@import "global/visually-hidden.scss";
@import "global/button.scss";
@import "global/title.scss";
@import "global/text.scss";
@import "reset.scss";
@import "mixins.scss";

// BLOCKS

@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/service.scss";
@import "blocks/programm.scss";
@import "blocks/advantages.scss";
