// COLOR

$default-black-color: #000000;
$default-white-color: #ffffff;
$default-text-color: #444444;
$text-active-color: #8ec36d;
$default-green-color: #68b738;
$green-hover-color: #5eaa2f;
$default-gray-color: #f2f2f2;
$dark-gray-color: #eaeaea;
$special-dark-gray: #222222;
$super-special-dark-gray: #111111;
$default-pink-color: #d24899;
$main-menu-hover: #000000 60%;
$main-menu-down: #000000 30%;
$green-button-hover: #5eaa2f;
$line-color: #d9d9d9;
$border-color: #cfcfcf;
$goods-border-color: #ebebeb;
$nav-line-color: #e6e6e6;

// TRANSITION

$default-transition-settings: 0.15s ease-in-out;

// VIEWPORTS

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
