// COLOR
$default-black-color: #000000;
$default-white-color: #ffffff;
$default-text-color: #444444;
$default-green-color: #68b738;
$default-gray-color: #f2f2f2;
$dark-gray-color: #eaeaea;
$special-dark-gray: #222222;
$default-pink-color: #d24899;
$main-menu-hover: #000000 60%;
$main-menu-down: #000000 30%;
$green-button-hover: #5eaa2f;
$line-color: #d9d9d9;
$border-color: #cfcfcf;
$goods-border-color: #ebebeb;

// TRANSITION

$default-transition-settings: 0.15s ease-in-out;
